.mainheader
  .mainheader__box
    .mainheader__box__left
      - if user_signed_in?
        .mainheader__box__left__new
          = link_to "スイーツ", new_user_registration_path
        .mainheader__box__left__login
          = link_to "Natsu", new_user_session_path
      - else
        .mainheader__box__left__new
          = link_to "新規登録", new_user_registration_path
        .mainheader__box__left__login
          = link_to "ログイン", new_user_session_path
    .mainheader__box__center
      = image_tag(src="keki",alt:"ケーキ",width: "150px",height:"180px",class: "image-keki")
    .mainheader__box__right
      .mainheader__box__right__access
        %h1 アクセス
      .mainheader__box__right__post
        = link_to "スイーツ投稿", sweets_path