.newbox
  .newcontent
    = form_with(model: @sweet, local: true) do |form|
      %h2 新規投稿
      .newcontent__name
        = form.text_field :name, placeholder: "スイーツの名前"
      .newcontent__image
        = form.file_field :image, type:"file", placeholder: "画像"
      .newcontent__description
        = form.text_area :description, placeholder: "スイーツの内容"
      .newcintent__submit
        = form.submit "投稿"