-# 詳細ページ
-# .test33
-#   = @sweet.name
-#   = link_to "編集する", edit_sweet_path(@sweet.id)
-#   = link_to "削除する", sweet_path(@sweet.id), method: :delete

.showall
  .sweetmain
    .sweetmain__title
      %h7
        = @sweet.name
    .sweetmain__second
      .sweetmain__second__image
        = image_tag @sweet.image.url, size: "500x400"
    .sweetmain__textbox
      .sweetmain__textbox__line
        .sweetmain__textbox__line__dec
          = @sweet.description
    .sewetmain__left
      .sweetmain__left__user
        .sweetmain__left__user__name
          = @sweet.user.name 
        .sweetmain__left__user_good
          %i.fa.fa-heart
          いいね
      .sewetmain__left__form
        - if current_user  
          = form_with(model:[@sweet, @comment], local: true) do |f|
            = f.text_area :text, placeholder: "入力してください", cols: "30", rows: "3"
            = f.submit "コメント"
        - else
          %h8 ユーザー登録してください
    .sewetmain__right
      %h9 コメント一覧❤️
      .sewetmain__right__comment
      - if @comments
        - @comments.each do |co|
          = co.user.name
          = co.text
